# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Rust
target/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs and Editors
.vscode/
.idea/
*.swp
